@font-face {
  font-family: "Sauce Code Pro Nerd Font";
  src=url("./fonts/SauceCodeProNerdFont-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sauce Code Pro Nerd Font";
  src=url("./fonts/SauceCodeProNerdFont-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sauce Code Pro Nerd Font";
  src=url("./fonts/SauceCodeProNerdFont-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sauce Code Pro Nerd Font";
  src=url("./fonts/SauceCodeProNerdFont-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Sauce Code Pro Nerd Font", monospace;
  background-color: black;
  color: white;
  width: 100%;
}

#app {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-color: #723C46;
}

header h1 {
  color: white;
  text-align: center;
}

section {
  padding: 0.5% 0;
}

#aboutme {
  text-align: justify;
  padding: 0.5%;
}

#socialmedia h2 {
  margin: 0 auto;
  text-align: center;
}

#socialmedia p {
  width: 65%;
  margin: 0 auto;
}

#socialmedia a {
  display: inline;
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
}

#portfolio {
  padding: 0.5%;
}

#portfolio h2 {
  text-align: center;
}

footer {
  margin: 0 auto;
}
